<html>
  <head>
    <title>Hello</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
        $(function() {
          $("h1").click(function() {
            $(this).fadeOut()
          })
        })
    </script>  
  </head>
  
  <body>
    <div class="container">
      <img src"<=@picture %>"/>
      <p>Nicolas Rueda</p>
      <p>(503) - 688 - 4500</p>
    </div>
  </body>
  
</html>
